// ------ Buttons ------
.shining-btn-container {
  display: inline-block;
  padding: 3px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  border: none;
  transition: all 0.5s ease;
  // background: rgba(0, 0, 0, 0.2);

  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(100, 100, 111, 0.15) 0px 7px 29px 0px;
    transition: all 0.5s ease;
  }
}
.border-gradient-bottom {
  position: absolute;
  width: 300%;
  height: 100%;
  opacity: 0.7;
  bottom: -11px;
  right: -250%;
  border-radius: 100%;
  animation: shining-btn-movement-bottom linear infinite alternate;
  z-index: 0;
}

.border-gradient-top {
  position: absolute;
  opacity: 0.7;
  width: 300%;
  height: 100%;
  top: -10px;
  left: -250%;
  border-radius: 100%;
  animation: shining-btn-movement-top linear infinite alternate;
  z-index: 0;
}

.inner-content {
  position: relative;
  background-color: #fff;
  // background: linear-gradient(to bottom, #fff, #eee);
  border: 1px solid #eeeeee57;
  color: black;
  font-size: 16px;
  text-align: center;
  padding: 16px 26px;
  border-radius: 6px;
  z-index: 1;
}

@keyframes shining-btn-movement-bottom {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  100% {
    transform: translate(-100%, 0%);
    opacity: 0;
  }
}

@keyframes shining-btn-movement-top {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
  100% {
    transform: translate(100%, 0%);
    opacity: 0;
  }
}
