*{
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}  

p {
  font-size: 1.6rem;
}

.nav-link {
  font-size: 1.6rem;
}

input, :placeholder-shown, .form-control {
  font-size: 1.6rem;
}

.btn {
  font-size: 1.6rem;
}