$base-font-size: 1.6rem;
$h1-font-size: calc(1rem + 4.2vw);
$h2-font-size: calc(1rem + 2.2vw);
$h3-font-size: calc(1rem + 1.2vw);
$h4-font-size: calc(1rem + 0.8vw);
$h5-font-size: calc(1rem + 0.2vw);

$default-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
